<amp-img src="https://acme.org/image1.png" width="400" height="300" layout="responsive" sizes="(min-width: 320px) 320px, 100vw">
</amp-img>


<amp-img media="(min-width: 650px)" src="wide.jpg" width=466 height=355 layout="responsive"></amp-img>
<amp-img media="(max-width: 649px)" src="narrow.jpg" width=527 height=193 layout="responsive"></amp-img>

<link>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

@font-face

<style amp-custom>
  @font-face {
          font-family: "Bitstream Vera Serif Bold";
          src: url("https://somedomain.org/VeraSeBd.ttf");
        }      
        body {
          font-family: "Bitstream Vera Serif Bold", serif;
        }
      </style>

on="eventName:targetId[.methodName[(arg1=value, arg2=value)]]"


<amp-state id="selected">
  <script type="application/json">
      {
        "slide": 0
      }
    </script>
</amp-state>

<amp-carousel type="slides" layout="fixed-height" height=250 id="carousel" on="slideChange:AMP.setState({selected: {slide: event.index}})">

  <p class="dots">
    <!-- The <span> element corresponding to the current displayed slide
             will have the 'current' CSS class. -->
    <span [class]="selected.slide == 0 ? 'current' : ''" class="current"></span>
    <span [class]="selected.slide == 1 ? 'current' : ''"></span>
    <span [class]="selected.slide == 2 ? 'current' : ''"></span>
  </p>


  <style amp-boilerplate>
    body {
      -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      animation: -amp-start 8s steps(1, end) 0s 1 normal both
    }

    @-webkit-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @-moz-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @-ms-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @-o-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }
  </style><noscript>
    <style amp-boilerplate>
      body {
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        animation: none
      }
    </style>
  </noscript>


  <button on="tap:quote-lb">See Quote</button>
  <amp-lightbox id="quote-lb" layout="nodisplay">
    <blockquote>"Don't talk to me about JavaScript fatigue" - Horse JS</blockquote>
    <button on="tap:quote-lb.close">Nice!</button>
  </amp-lightbox>